extends layout

block content
  h1=title

  form(method='POST' action='/link/create')
    div.form-group
      label(for='link') link url:
      input#first_name.form-control(type='text', placeholder='ex: https://fabelio.com/ip/keset-mat-grey.html' name='link' required='true')
      
    button.btn.btn-primary(type='submit') Submit

  if errors 
    ul
      for error in errors
        li!= error.msg