extends layout

block content
  h1= title

  table.table.table-striped
    if link
      tr
        th Product
        td= link.productName
      tr
        th Description
        td= link.productDescription
      tr
        th Price
        td= `Rp ${link.productPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")}`
      tr
        th Images
        td
          each image in link.images
            img(src=`${image.imageUrl}` width="300px") 
            br
            
    else
      tr
        td Data tidak ditemukan