extends layout

block content
  h1= title
  
  table.table.table-striped
    tr
      th Product
      th Description
      th Price
      th Action

    each link in linkList
      tr
        td= link.productName
        td= link.productDescription
        td= `Rp ${link.productPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")}`
        td
          a(class="button", href=`/link/${link.id}`)
           | detail